body{
    font-family: Arial, sans-serif;
    background-color: #f5f0f0;
    margin: 0;
    
}

.container{
    width: 320px;
    margin: 90px auto;
}

fieldset{
    border: 1px solid black;
    border-radius: 4px;
    padding: 12px;
    background-color:white;
}

legend{
    font-weight: bold;
    text-align: left;
    font-size: 14px;
 
}

label{
    display: block;
    font-weight: bold;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 4px;
}

input{
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    font-size: 12px;
}